.progress {
  @apply relative w-full appearance-none overflow-hidden h-2 rounded-lg bg-base-content/20 dark:bg-base-content/20;

  &::-moz-progress-bar {
    @apply bg-base-content dark:bg-base-content;
  }
  &-primary::-moz-progress-bar {
    @apply bg-primary dark:bg-primary;
  }
  &-secondary::-moz-progress-bar {
    @apply bg-secondary dark:bg-secondary;
  }
  &-accent::-moz-progress-bar {
    @apply bg-accent dark:bg-accent;
  }
  &-info::-moz-progress-bar {
    @apply bg-info dark:bg-info;
  }
  &-success::-moz-progress-bar {
    @apply bg-success dark:bg-success;
  }
  &-warning::-moz-progress-bar {
    @apply bg-warning dark:bg-warning;
  }
  &-error::-moz-progress-bar {
    @apply bg-error dark:bg-error;
  }

  &::-webkit-progress-bar {
    @apply bg-transparent rounded-lg;
  }
  &::-webkit-progress-value {
    @apply bg-base-content dark:bg-base-content rounded-lg;
  }
  &-primary::-webkit-progress-value {
    @apply bg-primary dark:bg-primary;
  }
  &-secondary::-webkit-progress-value {
    @apply bg-secondary dark:bg-secondary;
  }
  &-accent::-webkit-progress-value {
    @apply bg-accent dark:bg-accent;
  }
  &-info::-webkit-progress-value {
    @apply bg-info dark:bg-info;
  }
  &-success::-webkit-progress-value {
    @apply bg-success dark:bg-success;
  }
  &-warning::-webkit-progress-value {
    @apply bg-warning dark:bg-warning;
  }
  &-error::-webkit-progress-value {
    @apply bg-error dark:bg-error;
  }

  &-xs {
    @apply h-1;
  }

  &-sm {
    @apply h-2;
  }

  &-md {
    @apply h-3;
  }

  &-lg {
    @apply h-4;
  }
}
